@import './_resets';
@import './_variables';
@import './_header';


.main-container,#map{
    margin-left: 52px;  
    height: 100vh;
    transition: all .2s ease-in-out;
}

#map.move-map-right{
    margin-left: 300px;    
}

.main-container.move-right{
    margin-left: 300px;    
}
